---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="p-8">
    <h1 class="text-3xl">Hello Astro!!</h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione debitis possimus minus accusamus eligendi dicta facilis. Ut nisi ea
      suscipit.
    </p>
  </div>
</Layout>
